@use "../../styles/colors.scss";
@import "../../styles/fonts.scss";

$height: 20px;
$size: 14px;
$transition: 0.4s;
$position: 3px;

.Switch-container {
  display: flex;
  align-items: center;
  gap: 11px;

  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: $height;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$switch-disabled;
    transition: $transition;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: $size;
    width: $size;
    left: $position;
    bottom: $position;
    background-color: colors.$background-white-color;
    transition: $transition;
  }

  input:checked + .slider {
    background-color: colors.$green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px colors.$green;
  }

  input:checked + .slider:before {
    transform: translateX($size);
  }

  .slider.round {
    border-radius: $height;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .label {
    @include regular-font;
    @include normal-size;

    color: colors.$text-color;
    cursor: pointer;
  }
}
