$background-body-color: #cdcdcd;
$background-grey-color: #f6f7f8;
$background-white-color: #ffffff;
$border-color: #eceeed;
$text-color: #34423e;
$green: #48bb78;
$border-color-dark: #5f706a;
$red: #f56565;
$darkBlue: #2c5282;
