$background-body-color: #cdcdcd;
$background-grey-color: #f6f7f8;
$background-white-color: #ffffff;
$border-color: #eceeed;
$border-dashed: #98a29f;
$text-color: #34423e;
$green: #48bb78;
$border-color-dark: #5f706a;
$red: #f56565;
$darkBlue: #2c5282;
$blue: #63b3ed;
$placeholder: #7f8c88;
$switch-disabled: #bfc5c3;
$light-grey: #f9f9f9;
