@use "../../../../styles/colors.scss";

.Service {
  position: relative;
  display: flex;
  gap: 16px;
  flex: 1;

  .selects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    flex: 0.6;
  }

  .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 16px;
    flex: 0.4;
  }
}
