@use "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

.Service {
  position: relative;
  display: flex;
  gap: 16px;
  flex: 1;

  .selects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    flex: 0.6;
  }

  .box {
    display: flex;
    flex-direction: row;

    .item {
      @include regular-font;
      @include normal-size;

      display: flex;
      justify-content: center;
      align-items: center;
      color: colors.$text-color;
      height: 48px;
      border: 1px solid colors.$border-color;
    }

    .left {
      width: 71px;
      background: colors.$background-white-color;
      border-radius: 5px 0px 0px 5px;
    }

    .right {
      width: 48px;
      background: colors.$light-grey;
      border-left: 0;
      border-radius: 0px 5px 5px 0px;
    }
  }

  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    gap: 16px;
    flex: 0.4;
  }
}
