@use "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.Checkbox-container {
  @include semibold-font;

  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 13px;

  input {
    position: absolute;
    cursor: pointer;
    appearance: none;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: colors.$background-white-color;
    border: 1px solid colors.$text-color;
    border-radius: 2px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 0px;
      width: 3px;
      height: 8px;
      border: solid colors.$text-color;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }
  }
}
