@use "../../styles/colors.scss";

.Calendard-container {
  .column {
    display: flex;
    align-items: center;

    .TextInput-container {
      width: 300px;
    }

    &.left {
      gap: 16px;

      span.time {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: colors.$text-color;
      }
    }

    &.right {
      flex: 1;
      justify-content: end;

      .ButtonLink {
        color: colors.$green;
      }
    }
  }
}
